#footer {
  display: flex;
  flex-direction: column;
  float: bottom;
  height: 200px;
  bottom: 0;
  width: 100%;
  margin-top: 5em;
}

.footerSection {
  width: 100%;
}

#footerTop,
#footerMiddle {
  height: 40px;
}

#footerTop {
  background-color: #cbcbcb;
}
#footerMiddle {
  background-color: #3e3d56;
}
#footerBottom {
  background-color: #2f2f41;
  height: 160px;
  width: 100%;
  display: inherit;
  margin: auto;
  color: #e4e4e4;
}

#footerBottomLeft {
  color: inherit;
}

#footerBottomLeft ul {
  list-style: none;
}

#footerBottomLeft ul *:hover {
  color: #f30056;
}

#footerBottomRight {
}

#footerBottomRight p:hover,
#footerBottomRight h4:hover {
  color: #f30056;
}

#footerBottomLeft,
#footerBottomRight {
  margin: auto;
}
